*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Jost', sans-serif;
    
}
body{
    font-size: 16px;
}
                    /*NavBar*/

.upper-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 400px;
    padding: 50px 0;
    /* background-color: aqua; */
}

.upper-section form input{
    width: 80%;
    height: 20px;
    border-radius: 30px;
    padding: 20px 60px;
    color: #ccc;
    border: none;
    background-color: rgba(204, 204, 204, .1);
}
.upper-section form input:focus{
    outline: 0;
}

.upper-section .glass{
    margin-left: -50px;
    color:#ccc;
}
.upper-section h2{
    /* background-color: red; */
    color: rgb(86, 86, 86);
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
    font-size: 1rem;
    border: 5px solid;
    height: 90px;
    width: 100%;
    padding: 10px 0px;
}
.upper-section .icons{
    /* margin-right: -100px; */
    /* background-color: aqua; */
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.icons::after{
    content: "";
    text-align: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: #fff;
    background-color: blueviolet;
    position: absolute;
    right: 13%;
    top: -10px;
}
.icon{
    display: inline-block;
    color: #666565;
    font-size: 15px;
    padding: 10px 10px;
    cursor: pointer;
    transition: 0.5s all;
}
.icon:hover{
    color: #000;
    
}
.icons span{
    color: #fff;
    position: absolute;
    top:-9px;
    right: 13.8%;
    z-index: 1;
    font-size: 0.7rem;
}
nav{
    width: 100%;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    /* background-color: yellowgreen; */
}
.link-home{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.7rem ;
    font-weight: 500;
    color: blueviolet;
}
.link-home:hover{
    color: purple;
}
.links{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.5rem ;
    font-weight: 500;
    color:#666565;
}
.links:hover{
    color: purple;

}
                /*Main section*/
main{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
}
.image{
    width: 200px;
    height: 150px;
    margin-top: 20px;
    margin-right:50px ;
    /* background-color: yellow; */
}
.image img{
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
.text{
    width: 100%;
    /* line-height: 1rem; */
    color: #3e3939;
    font-weight: 600;
    /* background-color: yellowgreen; */
    /* margin-left: 200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.text h1{
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 700;
    color: #000;
}
.text p{
    font-size: 1rem;
}
main button{
    width: 9rem;
    height: 3rem;
    background-color: rgba(86, 20, 148, 0.906);
    color: #fff;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.2s all;
}
main button:hover{
    opacity: 90%;
    transform:translatey(-5px);
    box-shadow:0px 3px 5px 3px rgba(6, 0, 12, 0.567) ;
}
.section-1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 50% auto;
    /* height: 300px; */
    /* background-color: #3e3939; */
}
.container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 10px;
    /* background-color: aqua; */
}
.container i{
    color: blueviolet;
    font-size: 2rem;
    margin-top: -5px;
}
.container div{
    margin-left:  20px;
    width: 80%;
    margin-left: 10px;
}
.container div h3{
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 10px;
    font-size: 1.1rem;
}
.container div p{
    margin-top: 5px;
    color: #666565;
    line-height: 30px;
    font-size: 1rem;
}
.section-2{
    display: flex;
    height: 1200px;
    width: 90%;
    margin:120px auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    /* background-color: yellowgreen; */
}
.collection{
    width: 90%;
    height: 80%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center; 
    margin:15px 0;
    position: relative;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    background-color:#020101d1;
}

.collection img{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    transition: 0.5s all ;
    
}
.collection img:hover{
    transform: scale(1.1);
}

.collection h4{
    position: absolute;
    bottom: 75px;
    left: 20px ;
    font-size: 1rem;
}
.collection h1{
    position: absolute;
    bottom: 2px;
    left: 20px ;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: -2.2px;
}
.section-3{
    width: 100%;
    background-color: rgb(246 248 245);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    /* background-color: yellow; */
    height: 1200px;
}
.section-3 h1{
    position: relative;
    margin-top: 50px;
    font-size: 1.5rem;
    font-weight: 500;
}
.section-3 h1::after{
    content: "";
    width: 50px;
    height: 3px;
    background-color: blueviolet;
    position: absolute;
    top:-30px;
    left:80px;
}
.products{
    width: 60%;
    height: 500px;
    margin-top: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    /* background-color: #3e3939; */
    /* align-items: center; */
}
.product{
    width: 80%;
    height: 100%;
    background-color: #fff;
    text-align: center;
    margin-top: 50px;
}
.product img{
    width: 100%;
    height: 60%;
    margin-bottom: 20px;
}
.product h3{
    color: blueviolet;
}
.product p{ 
    color: #666565;
    
}
.arrow{
    margin: 230px 0;
}
.section-3 div i {
    margin: 30px 15px;
    font-size: 20px;
}
article{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 100px;
    flex-direction: column;
    /* background-color: yellowgreen; */
}
article .h1{
    margin-top: 100px;
    position: relative;
}
article .h1::after{
    content: "";
    width: 50px;
    height: 3px;
    background-color: blueviolet;
    position: absolute;
    top:-30px;
    left: 49%;
}
article .main{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.img{
    width: 80%;
    height: 100%;
}
.sale{
    width: 100%;
    height: 80%;
    margin-top: -0px;
    line-height: 40px;
    /* background-color: yellowgreen; */
}
.sale p{
    font-size: 0.9rem;
    color: #666565;
}
.sale button{
    width: 9rem;
    height: 3rem;
    background-color: rgba(86, 20, 148, 0.906);
    color: #fff;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.3rem;
    font-weight: 300;
    font-size: 0.8rem;
    cursor: pointer;
    transition: 0.2s all;
    margin-top: 10px;
}
.sale button:hover{
    opacity: 90%;
    /* transform:translateZ(-5px); */
    transform:translatey(-5px);
    box-shadow:0px 3px 3px 4px rgba(6, 0, 12,0.3)
}
.sale h4{
    color: #6665659e;
    letter-spacing: 2px;
    font-size: 1rem;
}

/* Footer */

footer{
    width: 100%;
    height: 80%;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .cols{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    line-height: 50px;
    margin-top: 50px;
}
.cols img{
    width: 250px;
    height: 200px;
}
.cols i{
    color: blueviolet;
}
.cols div h3{
    font-weight: 400;
    color: blueviolet;
}
.cols p{
    color: #666565;
}
.cols h1{
    font-weight: 500;
    letter-spacing: -2px;
    font-size: 1.5rem;
}
.cols div div{
    height: 4rem;
    overflow: hidden;
}
.cols button{
    width: 5rem;
    height: 3rem;
    background-color: rgba(86, 20, 148, 0.906);
    color: #fff;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.3rem;
    font-weight: 300;
    font-size: 0.8rem;
    cursor: pointer;
    transition: 0.2s all;
    margin-left: -6px;
    /* margin-top: 10px */
}
.cols button:hover{
    transform:translatey(-5px);
    box-shadow:0px 3px 5px 3px rgba(6, 0, 12, 0.567) ;
}

.cols input{
    width: 8rem;
    height: 3rem;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 1.1rem;
    color: #000;
}
.cols input:focus{
    outline: 0;
}
footer span{
    color: blueviolet;
    font-size: 1.3rem;
}
.copyright{
    margin: 50px 0;
    color: #666565;
    font-size: 1.1rem;
}